# =============================================================================
# SQL Server database files
# =============================================================================

02-Database/Data/*.mdf
02-Database/Data/*.ndf
02-Database/Log/*.ldf